@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;200;300&display=swap");
/*colores*/
/*Tipografia*/
body {
  padding: auto;
  font-family: "Josefin Sans", sans-serif;
}

.gallery-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10% 100px 50px 16.5%;
}
.gallery-contenedor h1 {
  padding: 20px 0 0 30px;
  font-size: 30px;
  width: 66%;
}
.gallery-contenedor button {
  background-color: hsl(0, 0%, 100%);
  padding: 8px 22px;
  font-size: 9px;
  font-weight: 700;
  border-width: 1px;
  font-family: "Alata", sans-serif;
  letter-spacing: 3px;
  width: 15%;
  cursor: pointer;
}
.gallery-contenedor button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.images-cont {
  width: calc(25% - 20px);
  margin: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.images-cont .gradient {
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
  margin: 0;
}
.images-cont:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  transition: background-color 0.3s ease;
  color: hsl(0, 0%, 0%);
}
.images-cont:hover .texto-sobre-img {
  color: hsl(0, 0%, 0%);
  z-index: 2;
}

.texto-sobre-img {
  position: absolute;
  bottom: 20px;
  word-wrap: break-word;
  left: 10px;
  right: 20px;
  background-color: none;
  color: hsl(0, 0%, 100%);
  font-size: 2.4vw;
  z-index: 2;
}

.images-cont div {
  width: 100%;
  padding-bottom: 177.78%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#img1 {
  background-image: url(../img/desktop/image-deep-earth.jpg);
  width: 100%;
  margin: 0;
}

#img2 {
  background-image: url(../img/desktop/image-night-arcade.jpg);
  width: 100%;
  margin: 0;
}

#img3 {
  background-image: url(../img/desktop/image-soccer-team.jpg);
  width: 100%;
  margin: 0;
}

#img4 {
  background-image: url(../img/desktop/image-grid.jpg);
  width: 100%;
  margin: 0;
}

#img5 {
  background-image: url(../img/desktop/image-from-above.jpg);
  width: 100%;
  margin: 0;
}

#img6 {
  background-image: url(../img/desktop/image-pocket-borealis.jpg);
  width: 100%;
  margin: 0;
}

#img7 {
  background-image: url(../img/desktop/image-curiosity.jpg);
  width: 100%;
  margin: 0;
}

#img8 {
  background-image: url(../img/desktop/image-fisheye.jpg);
  width: 100%;
  margin: 0;
}

@media (min-width: 581px) and (max-width: 900px) {
  * {
    margin: 5px 0px 5px 0px;
  }
  .gallery-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25% 0;
  }
  .gallery-contenedor-title {
    order: 1;
    text-align: center;
  }
  .gallery-images {
    order: 2;
  }
  .gallery-contenedor-button {
    order: 3;
    width: 20% !important;
  }
  .images-cont {
    width: calc(50% - 20px);
  }
  .images-cont div {
    width: 100%;
    padding-bottom: 36.69%;
  }
  .texto-sobre-img {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: none;
    color: hsl(0, 0%, 100%);
    width: auto;
    font-size: 2.6vw;
  }
}
@media (max-width: 580px) {
  * {
    margin: 5px 0px 5px 0px;
  }
  .gallery-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30vw 0;
  }
  .gallery-contenedor-title {
    order: 1;
    text-align: center;
  }
  .gallery-images {
    order: 2;
  }
  .gallery-contenedor-button {
    order: 3;
    width: 30% !important;
  }
  .images-cont {
    width: 100%;
  }
  .images-cont div {
    width: 100%;
    padding-bottom: 36.69%;
  }
  .texto-sobre-img {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: none;
    color: hsl(0, 0%, 100%);
    width: auto;
    font-size: 5vw;
  }
}
@media (max-width: 900px) {
  #img1 {
    background-image: url(../img/mobile/image-deep-earth.jpg);
  }
  #img2 {
    background-image: url(../img/mobile/image-night-arcade.jpg);
  }
  #img3 {
    background-image: url(../img/mobile/image-soccer-team.jpg);
  }
  #img4 {
    background-image: url(../img/mobile/image-grid.jpg);
  }
  #img5 {
    background-image: url(../img/mobile/image-from-above.jpg);
  }
  #img6 {
    background-image: url(../img/mobile/image-pocket-borealis.jpg);
  }
  #img7 {
    background-image: url(../img/mobile/image-curiosity.jpg);
  }
  #img8 {
    background-image: url(../img/mobile/image-fisheye.jpg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 8vh;
  margin-top: 25px;
  font-family: "Alata", sans-serif;
  font-size: 1.1vw;
  font-weight: 200;
}
.nav__item {
  position: relative;
  cursor: pointer;
}
.nav__item .nav__bar {
  position: absolute;
  border-radius: 10px;
  width: 50%;
  height: 3px;
  background-color: white;
  bottom: -5px;
  left: 0;
  margin-left: 25%;
  text-align: center;
  visibility: hidden;
}
.nav__item:hover .nav__bar {
  visibility: visible;
}
.nav__brand {
  font-size: 2.4vw;
  font-family: "Alata", sans-serif;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 251, 251);
  transition: 0.3s ease-in;
}

.container {
  border: 2px solid white;
  background-color: transparent;
  padding: 20px;
  width: 40%;
  margin-left: 17%;
  align-items: flex-end;
  margin-bottom: 14vw;
}
.container__content {
  align-items: center;
  font-size: 2.7vw;
  padding: 1.4vw 2.5vw;
}
.container__title {
  color: white;
  font-size: 4.3vw;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .nav {
    font-size: 5vw;
    z-index: 3;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 100%;
    background: #000000;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .container {
    border: 2px solid white;
    background-color: transparent;
    padding: 20px;
    width: 82%;
    margin-left: 10%;
    margin-bottom: 50%;
  }
  .container__content {
    align-items: center;
    font-size: 5vw;
  }
  .container__title {
    color: white;
    font-size: 10vw;
  }
  .nav__active {
    transform: translateX(0%);
  }
  /* Toggle Icon Animation */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
}
.cont-Img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.cont-Img__img {
  width: 50%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 26%;
}

.cont-title {
  margin-top: 20%;
  margin-right: -53%;
  height: 55%;
  font-size: 1.5vw;
  padding: 50px;
  width: 40%;
  background-color: white;
  position: absolute;
}

.text {
  margin-top: 5%;
  margin-left: 5%;
}
.text p {
  margin-top: 6%;
  font-size: 1.1vw;
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 55%);
}
.text h1 {
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .cont-Img {
    margin: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cont-Img__img {
    margin-top: 15%;
    margin-left: 0;
    margin-right: 0;
    width: 85%;
  }
  .cont-title {
    margin-top: 0;
    margin-right: 0;
    height: 300px;
    font-size: 4vw;
    width: 100%;
    background-color: white;
    position: relative;
    margin: 0;
    text-align: center;
  }
  .text {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
  }
  .text p {
    font-size: 3.5vw;
    padding: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
